.main-course-div {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  overflow-y: scroll;
  scrollbar-width: none;
}

.course-list-div {
  width: 70%;
}

.course-add-div {
  width: 30%;
}
.admin-course-card-sec {
  min-height: 70vh;
  max-height: 72vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.error-msg {
  font-size: 13px;
}

@media (max-width: 768px) {
  .main-course-div {
    flex-wrap: wrap;
  }

  .course-list-div,
  .course-add-div {
    width: 100%;
  }
}
