.forgot-main-div {
  height: 80vh;
}
.forgot-img {
  width: 200px;
}
.forgot-p {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.back-btn {
  cursor: pointer;
}

.reset-img {
  width: 230px;
}
.psw-text {
  font-size: 14px;
  margin-bottom: 4px;
}

.error-msg-field {
  height: 35px;
  font-size: 15px;
}
