.user-sec-dash img {
  width: 200px;
}
.active-button {
  background-color: var(--secondary-color);
  color: white;
}
.admin-btn {
  height: 40px;
  border: none;
  border-radius: 5px;
}
.course-sec-dash,
.user-sec-dash {
  height: 80vh;
  scrollbar-width: none;
  overflow-y: scroll;
}
