.main-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  width: 200px;
  margin-left: 20px;
  background-color: var(--secondary-color);
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.box:hover {
  transform: scale(1.01);
}

.inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.inner-box-p {
  font-size: 30px;
}
