.course-title {
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 700;
}
.course-instructor {
  font-size: 14px;
  margin-bottom: 5px;
}
.course-instructor span {
  font-size: 16px;
  font-weight: 700;
}
.couse-price {
  font-size: 15px;
  font-weight: 800;
}
.course-hours {
  margin: 0;
  font-weight: 800;
}
.course-card {
  transition: all 0.5s ease-in-out;
}
.course-card:hover {
  transform: scale(1.05);
}

.course-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
}
